.container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:center;
    height:70%;
    width:70%;
    border:solid 1px black;
    margin:100px  auto;
    background-color: aliceblue;
}
.grid-1{
    margin-top: 10px;
    margin-left: 10px;
    padding-right: 100px;
    border-right: solid 1px gray;
}
.grid-2{
    margin-top: 25px;
    margin-left: 50px;
}
.grid-3{
    margin-top: 78px;
    margin-left: 100px;
}
.grid-4{
    margin-top: 135px;
    margin-left: 90px;
}
.btn{
    border: 1px solid black;
}